{% extends "AdminBundle:Default:nav.html.twig" %}
{% block title %}Deleted messages{% endblock %}
{% block VariableContent %}
<html lang="en">

<head>
</head> 

<body>
 <div class="container-fluid">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Dashboard</a>
		</li>
		<li class="breadcrumb-item active">Inbox</li>
	</ol>
	{% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert" style="width: 830px ; text-align: center">{{flashMessage}} </div>
  {% endfor %}
	<div class="box_general">
			<div class="header_box">
				<h2 class="d-inline-block">All messages</h2>
			</div>
                <div class="list_general">
{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
{% endblock %}