{% extends "NavigationBundle:Default:base.html.twig" %}

{% block title %}Registration confirmed{% endblock %}

{% block body %}
 <div id="page">	
	<main>
		<div class="call_section">
			<div class="wrapper">
				<div class="container margin_80_55">
					<div class="main_title_2">
						<span><em></em></span>
						<h2>Welcome</h2>
						<p>{{website_name}} helps you find, reserve and plan the best of activities in Tunisia.</p>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="box_how">
								<i class="pe-7s-search"></i>
								<h3>Search Locations</h3>
								<p>Choose and plan the best activities in Tunisia for the lowest price. </p>
								<span></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box_how">
								<i class="pe-7s-info"></i>
								<h3>View Location Info</h3>
								<p>Find your destination easely and gain time enjoying the views rather than being
									lost in a map ! </p>
								<span></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box_how">
								<i class="pe-7s-like2"></i>
								<h3>Book, Reach or Call</h3>
								<p>Our application is costum made for you, available 24/7 !</p>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<canvas id="hero-canvas" width="1920" height="1080"></canvas>
			</div>
			<!-- /wrapper -->
		</div>
		<!--/call_section-->

{% endblock %}







