<!DOCTYPE html>
<html>
    <head>
        {% block title %}{% endblock %}
        <meta charset="UTF-8" />
    </head>
    <body>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
    </body>
</html>
